*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
   
}
.text{
    text-align: center;
    padding: 20px 0;
}
section{
    display: flex;
    gap: 20px;
}

.left{
    width: 50%;
  display: flex;
  flex-direction: column;

  justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin:10%  20%;
  
}
form > label{
    font-size: 17px;
    font-weight: 550;
    padding: 6px 0;
}

form> input{
   width: 80%;
   padding: 5px 0;
   margin-bottom: 5%;
}


.right{
width: 100px;
}